{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style2.css'  %}">
    
</head>

<body>
    <script type="text/javascript">   
        function Redirect() 
        {  
            window.location="http://127.0.0.1:8000"; 
        } 
        // document.write("You will be redirected to a new page in 5 seconds"); 
        setTimeout('Redirect()', 5000);   
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets3.lottiefiles.com/temp/lf20_MqU2rh.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin-left: 625px; padding-top: 70px;"  loop  autoplay></lottie-player>

    <h1 style="color: rgb(0, 0, 0); text-align: center;">Thank you for your generous gift to Salvation Army. We are thrilled to have your support. <br>You truly make the difference for us, and we are extremely grateful!</h1>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_totrpclr.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; margin-left: 650px; margin-top: -60px;"  loop  autoplay></lottie-player>
    <h2 style="color: rgb(0, 0, 0); text-align: center; margin-top: -40px;">You will receive mail shortly</h2>
    
</body>

</html>